<% provide(:title, "Sign up") %>
<!--Title-->
<title>
  <%= title(yield(:title)) %>
</title>


<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.text_field :name, autofocus: true, id: "input_1", placeholder: "Mahmoud Shehata", required: true, class: 'form-control'%>
  <label for="input_1">
    <%= f.label :fullname, class: 'label-text' %>
    <span class="nav-dot"></span>
  </label>

  <%= f.email_field :email, id: "input_2", placeholder: "email@address.com", required: true, class: 'form-control'%>
  <label for="input_2">
    <%= f.label :email, class: 'label-text' %>
    <span class="nav-dot"></span>
  </label>

  <%= f.text_field :username, id: "input_3", placeholder: "username", required: true, class: 'form-control'%>
  <label for="input_3">
    <%= f.label :username, class: 'label-text' %>
    <span class="nav-dot"></span>
  </label>

  <%= f.password_field :password, id: "input_4", placeholder: "Password", required: true, class: 'form-control'%>
  <label for="input_4">
    <%=f.label :password, class: 'label-text' %>
    <span class="nav-dot"></span>
  </label>

  <%= f.password_field :password_confirmation, id: "input_5", placeholder: "Password", required: true, class: 'form-control'%>
  <label for="input_5">
    <%= f.label :password_confirmation, "Confirmation", class: 'label-text' %>
    <span class="nav-dot"></span>
  </label>

  <%= f.submit "Create my account", class: "btn btn-primary" %>
  <p class="tip">Press Tab</p>
<% end %>
