<!--sign/sign in/up-->
<% if logged_in? %>
 <div class="wrapperSign">
    <header id="headSign">
      <nav id="navSign">
        <ul>
          <li><%= link_to "profile",  current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul>
      </nav>
    </header>
  </div>
<%else%>
  <div class="wrapperSign">
     <header id="headSign">
       <nav id="navSign">
         <ul>
           <li><%= link_to "Sign in",  login_path %></li>
           <li><%= link_to "Sign up",  signup_path %></li>
         </ul>
       </nav>
     </header>
   </div>
<%end%>
  <!--sign/sign in/up end-->
